/*
Project Name: A Simple Web Site (HW10)  
Author: Paola Wollants 
Date Last Modified: April 4, 2019
GitHub User: PaolaMWollants
/*
/* Set the body background, text color, and font style */
body { background-color: #FFFFFF;
      color: #666666;
      font-family:Verdana;
}
/* Set the header background, text color, and font style*/
header { background-color: #000033;
        color: #FFFFFF;
        font-family: Georgia, serif;
}
/* Set h1 element to configure 200% line height*/
h1 { line-height: 200%; }

/* Set nav element bold text and background*/
nav { background-color: #90C7E3; font-weight: bold;
}
/* Set h2 element text color and font style*/
h2 { color: #3399CC;
     font-family: Georgia,serif; 
}
/* Set d2 element text color and font weight*/
d2 { color: #000033; 
    font-weight: bold;
}
/*

/* Style all elements with class="resort"*/
.resort { color: #000033;
          font-size: 1.2em;
}
/* Set footer font size, font style, and alignment to center*/
footer { font-size: .70em;
         font-style: italic;
         text-align: center;
}
#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%;
}

    